<main class="main">
  <div class="content">
    <span class="title">Raspberry Pi Catalog</span>
    <div class="content-input">
      <p-table [value]="products"  [paginator]="true"
               [rows]="5"
               [rowsPerPageOptions]="[5, 10]"
               sortMode="multiple"
               stripedRows="true"
               [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
          <tr>
            <th>
              <p-columnFilter type="text" field="model" placeholder="Search by model" ariaLabel="Filter Model"></p-columnFilter>
            </th>
            <th>Image</th>
            <th>
              <p-columnFilter type="text" field="processor" placeholder="Search by processor" ariaLabel="Filter Processor"></p-columnFilter>
            </th>
            <th pSortableColumn="memory">
              Memory <p-sortIcon field="memory" />
            </th>
            <th pSortableColumn="quantity">
              Quantity <p-sortIcon field="quantity" />
            </th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template #body let-product>
          <tr>
            <td>{{ product.model }}</td>
            <td>
              <img
                [src]="'/assets/images/' + product.image" class="product-image"
                [alt]="product.name"
              />
            </td>
            <td>{{ product.processor }}</td>
            <td>{{ product.memory }}</td>
            <td>{{ product.quantity }}</td>
            <td>
              <span [class]="'product-badge status-' +product.status.toLowerCase()">{{product.status}}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</main>

<router-outlet />
